body{
	margin: 1;
	padding: 1;
	font-family: sans-serif;
	background-image: url("HALO.jpg");
}
.box{
	width: 450px;
	padding: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-image: 
	text-align: left;
}
.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 440;
}
.box input[type="text"],.box input[type = "Password"]{
	border: 1;
	background: none;
	display: block;
	margin: 40px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 100px;
	outline: doted;
	color: white;
	border-radius: 18px;
	transition: 0.34s;
}
.box input[type="text"]:focus,.box input[type = "password"]:focus{
	width: 200px;
	border-color: #2ecc71;
}
.box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: 20;
	color: white;
	border-radius: 18px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type = "submit"]:hover{
	background: #2ecc71;
}